name: Clang Format Checker
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  clang-format-checking:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: RafikFarhad/clang-format-github-action@v2.0.0
        with:
          sources: "*.cpp */*.[hc]pp"
          style: file
